// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.div-style {
  height: 50%;
  width: 25%;
  border: solid;
  display: inline-block;
}

.image {
  height: 100px;
  width: 100px;
}
